@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-bebas: "Bebas Neue", sans-serif;

    --color-page-bg: #13151a;
    --color-header-bg: #13151a;
    --color-card-bg: #1c1f26;
    --color-header: #88c0d0;
    --color-nav-link: #e5e9f0;
    --color-border: #2a2e38;
    --color-body-text: #e8e6e3;
    --color-epic-accent: #a335ee;
    --color-legendary-accent: #ff8000;
}

html {
    scrollbar-gutter: stable;
}
