---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout guild="Broken Banner" page="About">
    <h1 id="about-us" class="text-5xl font-bold text-accent mb-2 text-center">
        About Us
    </h1>
    <p class="text-muted mb-8">
        <p>
            <h1 class="text-2xl font-bold text-accent mb-2">
                We are a cross faction, cross realm guild founded on Area 52.
            </h1><br />
            <h2 class="text-2xl">About Us</h2><br />
            <p>
                Broken Banner was founded by a small group of players that main
                retail WoW, who saw the opportunity to create a community that
                is as active as it is approachable. We come from various gaming
                backgrounds and walks of life, but confide in WoW as a passion
                and digital escape. It is the one game that always brings us
                back. For others, it's their newest obsession. Our vision is to
                create an atmosphere that is a safe haven for those who share
                the same passion. We are a Community-first guild focused on
                Mythic+, with organized raiding on the horizon - pending
                rostering and demand. Raiding will be completely optional, but
                encouraged. We have 0 tolerance for toxicity of any kind.
            </p><br />
            <h2 class="text-2xl">What We're Building</h2><br />
            <p>A diverse Mythic Plus player pool, from casual to hardcore.</p>
            <p>
                The potential to forge long or lifelong relationships with other
                compassionate WoW players.
            </p>
            <p>
                A community of players who desire to consistently play the game,
                with others alike, who want to learn, improve and teach.
            </p>
            <p>Our members:</p><br />
            <ul>
                <li>Show up to dungeons and raids prepared</li>
                <li>Work well with others</li>
                <li>Want long-term consistency</li>
                <li>Have a strong desire to play and improve</li>
                <li>
                    Aspire to carry a positive mental attitude, as a default
                </li>
                <li>Accomplish their goals, then elevate others</li>
            </ul><br />
            <h2 class="text-2xl">What We're Looking For</h2><br />
            <p>Positive, non-toxic players ages 21 and up</p>
            <p>People who value teamwork over ego</p>
            <p>Players willing to improve and help others</p>
            <p>Consistency over skill (skill comes with time)</p>
            <p>
                People who love to spend time in game, running content and
                socializing with other players
            </p><br />
            <h2 class="text-2xl">Guild Culture</h2><br />
            <p>Respect first, always</p>
            <p>No elitism, no drama</p>
            <p>Natural friend groups are welcome, but community comes first</p>
            <p>Everyone should feel included and able to participate</p>
            <p>Always do the right thing - even when nobody is looking</p>
            <p>
                Be a leader, when required - sometimes you must start and run
                your own groups when no others are available. This inspires
                independence and confidence.
            </p>
            <p>Mistakes happen. We learn and move on.</p>
            <p>Schedule Mythic+ groups forming daily.</p>
            <p>
                We attempt to roster for highest player activity at times past
                5pm EST.
            </p><br />
            <h2 class="text-2xl">Leadership</h2><br />
            <p>Structured but not overbearing</p>
            <p>
                Officers and GM lead by example (prepared, punctual, respectful,
                active)
            </p>
            <p>Set clear expectations, with no micromanagement</p>
            <p>Strictly adhere to a code of conduct, above any individual</p>
        </p>
    </p>
</BaseLayout>
<style>
    #about-us {
        font-family: "Bebas Neue", sans-serif;
    }
</style>
