---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout guild="Broken Banner" page="About">
    <h1 class="text-3xl font-bold text-accent mb-2">About Us</h1>
    <p class="text-muted mb-8">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            cursus sollicitudin rutrum. Morbi condimentum blandit lacus vel
            aliquam. Nulla vel justo quam. Nunc consequat quam elit, elementum
            dictum nunc congue a. Sed sodales sagittis ante. Morbi commodo augue
            odio, vel aliquet erat tempor efficitur. Duis lobortis molestie mi,
            eu ornare tortor pulvinar ac. Duis tincidunt in elit sed luctus.
            Duis purus tortor, commodo quis tristique viverra, suscipit et
            magna.
        </p><br />
        <p>
            Donec mattis a orci fermentum ultricies. Integer quis sollicitudin
            tellus. Nam tristique vulputate diam nec rhoncus. Sed feugiat nibh
            ut dolor tempus, sed fermentum felis condimentum. Donec maximus arcu
            aliquam tincidunt mollis. Fusce aliquam elit nec luctus aliquam.
            Donec placerat consectetur ante non auctor. Donec lobortis vehicula
            dignissim. Curabitur iaculis lacinia turpis, ultricies tincidunt
            magna lobortis vel. Nam eu sem sit amet nulla viverra sagittis vitae
            ut dui. Vivamus sit amet auctor tellus. Sed consequat vel nisi a
            sodales. Quisque scelerisque purus ipsum, id tincidunt nibh laoreet
            at.
        </p><br /><p>
            Phasellus imperdiet nibh ut gravida aliquet. Vestibulum a neque
            porta, pellentesque mi non, ornare nisl. Cras at tempor neque, ac
            eleifend quam. Donec aliquet purus et scelerisque sollicitudin.
            Aliquam tincidunt felis nec volutpat hendrerit. Integer elit dui,
            varius a massa sit amet, laoreet porta quam. Donec nec blandit
            tellus. Pellentesque blandit rutrum nibh, eget scelerisque libero
            sollicitudin ut. Nulla a nunc eleifend, mattis felis a, euismod
            ligula. Fusce in urna urna. Duis at risus nisl. Sed quis nisi ac leo
            suscipit aliquet ut ullamcorper turpis. Sed et faucibus sem, quis
            ultrices est. Pellentesque finibus eu justo non aliquet. Vestibulum
            eget risus vel augue viverra iaculis eget id nisi.
        </p>
    </p>
</BaseLayout>
