---
import BaseLayout from "../layouts/BaseLayout.astro";
import PlayerCard from "../components/PlayerCard.astro";

import { getCollection } from "astro:content";

const posts = (await getCollection("news", ({ data }) => !data.draft)).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout guild="Broken Banner" page="Home">
    <div class="grid grid-cols-1 gap-8">
        <h1 class="font-header text-3xl text-text-muted">
            Top scores this week
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <PlayerCard
                name="Agaloch"
                playerClass="Druid"
                playerSpec="Guardian"
                playerRole="Tank"
                score="3537"
                scoreColor="epic-accent"
            />
            <PlayerCard
                name="Moonraven"
                playerClass="Demon Hunter"
                playerSpec="Vengeance"
                playerRole="Tank"
                score="3113"
                scoreColor="blue-800"
            />
            <PlayerCard
                name="Astrevea"
                playerClass="Monk"
                playerSpec="Mistweaver"
                playerRole="Healer"
                score="3430"
                scoreColor="epic-accent"
            />
        </div>
        <div class="mt-8">
            <p class="text-3xl text-text-muted font-header">Latest News</p>
            <div class="grid grid-cols-1 gap-4 mt-4">
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a
                                    class="hover:text-legendary-accent"
                                    href={`/news/${post.id}`}
                                >
                                    {post.data.title}
                                </a>
                                <time
                                    datetime={post.data.pubDate.toISOString()}
                                >
                                    {post.data.pubDate.toLocaleDateString()}
                                </time>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</BaseLayout>
