---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Button } from "@/components/starwind/button";
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/starwind/card";
---

<BaseLayout guild="Broken Banner" page="Home">
    <div class="grid grid-cols-1 gap-8">
        <h1 class="font-bebas text-3xl text-text-muted">
            Top scores this week
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <Card
                size="sm"
                class="border-l-4 border-l-epic-accent mx-auto w-full max-w-sm bg-card-bg text-body-text ring-border-accent"
            >
                <CardHeader>
                    <CardTitle><p class="text-2xl">Agaloch</p></CardTitle>
                    <CardDescription
                        ><p class="text-text-muted">
                            Druid • Guardian
                        </p></CardDescription
                    >
                </CardHeader>
                <CardContent>
                    <p class="text-4xl text-epic-accent">3537</p>
                </CardContent>
            </Card>
            <Card
                size="sm"
                class="border-l-4 border-l-blue-800 mx-auto w-full max-w-sm bg-card-bg text-body-text ring-border-accent"
            >
                <CardHeader>
                    <CardTitle><p class="text-2xl">Moonraven</p></CardTitle>
                    <CardDescription
                        ><p class="text-text-muted">
                            Demon Hunter • Vengeance
                        </p></CardDescription
                    >
                </CardHeader>
                <CardContent>
                    <p class="text-4xl text-blue-800">3113</p>
                </CardContent>
            </Card>
            <Card
                size="sm"
                class="border-l-4 border-l-green-300 mx-auto w-full max-w-sm bg-card-bg text-body-text ring-border-accent"
            >
                <CardHeader>
                    <CardTitle><p class="text-2xl">Srandr</p></CardTitle>
                    <CardDescription
                        ><p class="text-text-muted">
                            Warrior • Arms
                        </p></CardDescription
                    >
                </CardHeader>
                <CardContent>
                    <p class="text-4xl text-green-300">1337</p>
                </CardContent>
            </Card>
        </div>
        <div class="mt-8">
            <p class="text-3xl text-text-muted font-bebas">Latest News</p>
        </div>
    </div>
</BaseLayout>
