---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout guild="Broken Banner" page="Home">
    <h1 class="text-muted mb-8">
        We are an M+ focused WoW guild looking for mature players who are
        dedicated to the game.
    </h1>
</BaseLayout>
