---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.tsx";
---

<BaseLayout guild="Broken Banner" page="Join">
    <h1
        class="text-4xl font-bold text-legendary-accent mb-2 font-header text-center"
    >
        Join Us
    </h1>
    <ContactForm client:load />
</BaseLayout>
