---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout guild="Broken Banner" page="Join">
    <h1 class="text-3xl font-bold text-accent mb-2">Join Us</h1>
    <p class="text-muted mb-8">
        Sed vitae justo quis metus tempus dapibus quis vel urna. Nunc vel diam
        ante. Cras fermentum odio vel ligula consequat, vitae auctor lacus
        pellentesque. Sed vitae justo nisi. Aliquam suscipit blandit magna eu
        ultricies. Maecenas euismod id nulla vitae sodales. Nunc sit amet ante
        in est cursus malesuada ut consectetur mauris. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Praesent mollis gravida ultrices. Mauris ac mi sollicitudin, consectetur
        justo elementum, porttitor lacus. Sed et vulputate odio, a interdum
        lorem. Nulla facilisi.
    </p>
</BaseLayout>
