---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("news");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <article class="flex flex-col items-start gap-8">
        <h1 class="text-6xl text-legendary-accent font-header">
            {post.data.title}
        </h1>
        <time class="text-text-muted text-sm"
            >{post.data.pubDate.toLocaleDateString()}</time
        >
        <Content />
    </article>
</BaseLayout>
