---

---

<footer
    class="flex text-text-muted text-md items-center justify-between mt-32 py-6 mx-8 font-header"
>
    <p>Developed by Agaloch - Area 52</p>
    <p>&copy; Broken Banner 2026</p>

    <p>
        Character data provided by <a
            class="text-legendary-accent"
            href="https://raider.io">Raider.IO</a
        >
    </p>
</footer>
