---

---

<footer class="text-text-muted text-md text-center mt-12 py-6 font-header">
    <p>&copy; Broken Banner 2026</p>
    <p>
        Character data provided by <a
            class="text-legendary-accent"
            href="https://raider.io">Raider.IO</a
        >
    </p>
</footer>
