---

---

<header
    class="border-b border-gray-950 shadow-1xl px-6 py-4 flex flex-col items-center justify-center gap-3 sticky top-0"
>
    <h1 class="text-4xl md:text-7xl">Broken Banner</h1>
    <nav aria-label="Primary">
        <ul
            class="flex flex-wrap items-center justify-center gap-x-9 gap-y-4 text-lg md:text-2xl"
        >
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/roster">Roster</a></li>
            <li><a href="/join">Join</a></li>
        </ul>
    </nav>
</header>
<style>
    header {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #88c0d0;
        background: #434c5e;
    }
    nav ul {
        color: #e5e9f0;
    }
</style>
