---
import "@/styles/starwind.css";
import "@fontsource/rajdhani/300.css";
import "@fontsource/rajdhani/400.css";
import "@fontsource/rajdhani/500.css";
import "@fontsource/rajdhani/600.css";
import "@fontsource/rajdhani/700.css";
import "@fontsource-variable/inter";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

const { guild, page } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <ClientRouter />
        <title>{guild} | {page}</title>
    </head>
    <body class="bg-page-bg text-body-text min-h-screen flex flex-col">
        <Header />
        <main class="font-inter flex-1 max-w-6xl mx-auto px-6 py-12 w-full">
            <slot />
        </main>
        <Footer />
    </body>
</html>
